table {
    text-align: center;
    font-size: 12px;
}

input {
    width: 100px;
    font-size: 12px;
}

.nota {
    width: 50px;
    font-size: 12px;
    border: 1px solid rgb(197, 197, 197);
    background-color: rgb(255, 255, 255);
    text-align: center;
}
/*PONIENDO TRANSPARENTE EL COLOR DEL INPUT DE LAS NOTAS PROMEDIADAS*/
.promedio-cotidiana{
    background-color: transparent;
    border: none;

}
.promedio-integradora{
    background-color: transparent;
    border: none;

}
.promedio-examen{
    background-color: transparent;
    border: none;

}

tr .promfin .nota {
    background-color: transparent;
    border: none;
}

/*DANDO COLOR A LAS COLUMNAS*/
tr .alumno{
    background-color:rgb(255, 255, 255);
    color: rgb(39, 39, 39); 
}

tr .alumno input{
    width:max-content;
}



tr .td-cotidiana .nota:focus{
    outline: none;
}
tr .td-integradora .nota:focus{
    outline: none;
}
tr .td-examen .nota:focus{
    outline: none;
}
tr .promfin .nota:focus{
    outline: none;
}





tr .cotidiana {
    background-color: #fff;
}
tr .td-cotidiana{
    background-color:rgb(255, 253, 110);
    width: 20px;
}


tr .integradora {
    background-color: #fff;
}
tr .td-integradora{
    background-color:rgb(255, 253, 110);
    width: 20px;
}


tr .examen {
    background-color: #fff;  
}
tr .td-examen{
    background-color:rgb(255, 253, 110);
    width: 20px;
}


tr .nombre-input{
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(39, 39, 39);
}
tr .promfin {
    background-color:rgb(255, 253, 110);
    width: 20px;
}

table{
    border: 2px solid black;
}

button{
    background-color: red;
}